body{
    background: #EFE1B5;
}
nav{
    justify-content:center;
    background:#6E503430;
    display:flex;
    width:50%;
    margin:10px auto;
    border-radius:20px;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-right:30px;
    font-weight:bold;
}
ul{
    list-style-type:none;
}
li{
    display:inline-block;
}
h1{
    display:flex;
    justify-content: center;
    padding-top: 70px;
}
h2{
    padding-top:40px;
    display:flex;
    justify-content: center;
}
.searchbar{
    display: flex;
    justify-content:center;
}
#search{
    height: 45px;
    width: 420px;
    border-radius:10px;
    border:solid transparent;
    padding-left:20px;
}
