body{
    background: #EFE1B5;
}
nav{
    justify-content:center;
    background:#6E503430;
    display:flex;
    width:90%;
    margin:10px auto;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}
ul{
    list-style-type:none;
}
li{
    display:inline-block;
}