body{
    background: #EFE1B5;
}
nav{
    justify-content:center;
    background:#6E503430;
    display:flex;
    width:50%;
    margin:10px auto;
    border-radius:20px;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-right:30px;
    font-weight:bold;
}
ul{
    list-style-type:none;
}
li{
    display:inline-block;
}
h1{
    display:flex;
    justify-content: center;
    padding-top: 70px;
}
h2{
    padding-top:40px;
    display:flex;
    justify-content: center;
}

.searchplace{
    display: flex;
    justify-content:center;
}
#search,#username,#password{
    height: 45px;
    width: 420px;
    border-radius:10px;
    border:solid transparent;
    padding-left:20px;
}
#searchsubmit{
    background-color:transparent;
    border:0px;
}
.searcharea{
    display:inline;
}
img{
    width:100%;
    height:100%;
}


.adminpage{
    margin:30px auto;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    margin-top:120px;
    width:40%;
    border:2px solid black;
    border-radius: 10px;
    padding-top:5px;
    padding-bottom:150px;
}
#adminlog{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
    flex-direction:column;
    width:100%;
}
#adminsubmit{
    width:150px;
    height:40px;
    font-weight:bold;
    background-color: #6E503420;
    border-radius:10px;
}
#adminsubmit:hover{
background-color: #6E503460;
transition: 0.5s;
}

.error {
color: red;
background-color: #ffdddd;
border: 1px solid red;
padding: 10px;
border-radius: 5px;
margin-bottom: 15px;
text-align: center;
}

